<div class="row">
  <div class="col-6">
    <h4>list of Games</h4>
    <div *ngFor="let game of list">
      <h4>{{ game.name }}</h4>
    <img [src]="game.image" alt="{{ game.name }}" [routerLink]="[game.name]" class="img-fluid">
  </div>
  </div>
</div>
