<div class="row">
  <div class="col-6">
    <h4>Add new game</h4>

    <form (ngSubmit)="createGame()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control" #nameInput>
      </div>
      <div class="form-group">
        <label for="name">Image</label>
        <input type="text" name="image" id="image" class="form-control" #imageInput>
      </div>
      <div class="form-group">
        <label>
        <select name="platform" class="form-control" #platformSelect>
          <option value="">Select platform</option>
          <option *ngFor="let g of selectOfPlatforms" [value]="g.nameOfPlatform">{{ g.nameOfPlatform }}</option>
        </select>
        </label>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" name="description" id="description" #descriptionInput></textarea>
      </div>
      <button type="submit">Add game</button>
    </form>
  </div>
</div>
