<div class="card">
  <div class="row">
    <div class="col-sm-4">
      <img [src]="game.image" alt="{{ game.name }}" style="max-width: 100%">
    </div>
    <div class="col-sm-8">
      <div class="card-body">
        <h5 class="card-title">{{ game.name }}</h5>
        <p class="card-text">{{ game.platform }}</p>
        <p class="card-text">{{ game.description }}</p>
      </div>
    </div>
  </div>
</div>
