<div class="row">
  <div class="col-6">
    <h4>List of Platform</h4>
    <div class="list-group">
      <a *ngFor="let platform of gamePlatform"
        class="list-group-item list-group-item-action" [routerLink]="[platform]" routerLinkActive="active">
        {{ platform }}
      </a>
    </div>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
